<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/customStyles.css">
    <link rel="stylesheet" href="/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!---Navigation Bar-->
    <div class="container-fluid border-bottom border-5 border-secondary">
        <div class="row">
            <div class="col-12 p-0 d-flex justify-content-center"><a href="/"><img src="/images/mainLogo.png" class="img-fluid" alt="TurtleCreekLogo"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0 d-flex align-items-end">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-fill pb-0">
                    <div class="container-fluid">
                        <button class="navbar-toggler mb-1" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item"><a href="/menu" class="nav-link">Menu</a></li>
                                <li class="nav-item"><a href="/catering" aria-current="page"
                                        class="nav-link active">Catering</a></li>
                                <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
                                <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                            </ul>
                            <ul class="navbar-nav ms-auto ">
                                <li class="py-1">
                                    <div class="socialMedia text-white d-flex flex-row justify-content-center">
                                        <a class="fs-5 nav-link mx-sm-2 mx-md-2 mx-lg-1 mx-2 social"
                                            href="https://www.google.co.in/maps/place/128+Triad+Center+W,+O'Fallon,+MO+63366/@38.7883645,-90.7195882,17z/data=!3m1!4b1!4m5!3m4!1s0x87ded059b7ce53ab:0x9f9ce4e6c4e48aa2!8m2!3d38.7883645!4d-90.7173995"><i
                                                class="bi bi-geo-alt-fill"></i></a>
                                        <a class="fs-5 nav-link mx-sm-2 mx-md-2 mx-lg-1 mx-2 social"
                                            href="tel:6362943458"><i class="bi bi-telephone-forward"></i> </a>
                                        <a href="https://www.facebook.com/turtlecreekpub/"
                                            class="nav-link fs-5 mx-sm-2 mx-md-2 mx-lg-1 mx-2 social"><i
                                                class="bi bi-facebook"></i></a>
                                    </div>
                                <li
                                    class="nav-item d-flex align-items-center justify-content-center mb-2 mb-sm-2 mb-md-2 mb-lg-0">
                                    <a href="/#orderNow" class="btn btn-secondary text-white">ORDER NOW</a>
                                </li>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!---End Of Nav-->
    <!--Beginning of Catering-->
    <div class="container-xxl px-4 pt-4 mb-4">
        <div class="row">
            <!--Left Hand Side-->
            <div class="col-12 col-lg-6 mb-2 mb-sm-2 my-md-0 my-lg-0">
                <div class="textSection">
                    <h2 class="text-center text-danger pb-3">We offer Catering!</h2>
                    <p class="px-3">Planning a Party or Business event? We've got you covered! Give us a call or fill
                        out the
                        information below to discuss plans! <br><br> Or, need a place for a Special Event, Meeting or
                        Party? We have Every Monday available for your small & large groups! <br><br> Call us at
                        <i class=""><a class="footerLink fw-bold text-primary" href="tel:6369780545">636-294-3458</a></i> during regular business hours to find out more!</p>
                </div>
                <div class="imageHolder mt-4 pe-2 d-flex justify-content-center">
                    <img src="/images/catering.jpg" class="customImg" alt="catering outside the bar">
                </div>
            </div>
            <!--Right Hand Side-->
            <div class="col-12 col-lg-6 my-2 my-sm-2 my-md-2 my-lg-0">
                <div id="displayMessage" class="p-3"></div>
                <form id="cateringForm" action="/catering" method="post" class="needs-validation" novalidate>
                    <div class="name mb-3">
                        <label for="nameInput" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="nameInput" name="name" required>
                    </div>
                    <div class="phone mb-3">
                        <label for="phoneInput" class="form-label">Phone Number:</label>
                        <input type="tel" class="form-control" id="phoneInput" name="phone" required>
                    </div>
                    <div class="email mb-3">
                        <label for="emailInput" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="emailInput" name="email" required>
                    </div>
                    <div class="datePicker mb-3">
                        <label for="datePicker" class="form-label">Choose Date for Event:</label>
                        <input type="date" class="form-control" id="datePicker" name="eventDate" min="2018-01-01" required>
                    </div>
                    <div class="textArea mb-3">
                        <label for="cateringTextArea" class="form-label">Brief Description of what you want to
                            do:</label>
                        <textarea class="form-control" id="cateringTextArea" rows="8" name="description" required></textarea>
                    </div>
                    <div class="d-none">
                        <input type="text" id="spam" name="spam">
                    </div>
                    <div class="buttonArea d-flex justify-content-center">
                        <button class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include footer.ejs %>
</body>
<script src="bootstrap.min.js"></script>
<script src="/javascripts/validateForm.js"></script>

</html>