<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            <%= title %>
        </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/customStyles.css">
        <link rel="stylesheet" href="/font/bootstrap-icons.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/images/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
        <link rel="manifest" href="/images/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    
    <body>
        <!---Navigation Bar-->
        <div class="container-fluid border-bottom border-5 border-secondary">
            <div class="row">
                <div class="col-12 p-0 d-flex justify-content-center"><a href="/"><img src="/images/mainLogo.png" class="img-fluid" alt="TurtleCreekLogo"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0 d-flex align-items-end">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-fill pb-0">
                        <div class="container-fluid">
                            <button class="navbar-toggler mb-1" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item"><a href="/menu" class="nav-link">Menu</a></li>
                                    <li class="nav-item"><a href="/catering" class="nav-link">Catering</a></li>
                                    <li class="nav-item"><a href="/events" class="nav-link active" aria-current="page">Events</a></li>
                                    <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                                </ul>
                                <ul class="navbar-nav ms-auto ">
                                    <li class="py-1">
                                        <div class="socialMedia text-white d-flex flex-row justify-content-center">
                                            <a class="fs-5 nav-link mx-sm-2 mx-md-2 mx-lg-1 mx-2 social"
                                                href="https://www.google.co.in/maps/place/128+Triad+Center+W,+O'Fallon,+MO+63366/@38.7883645,-90.7195882,17z/data=!3m1!4b1!4m5!3m4!1s0x87ded059b7ce53ab:0x9f9ce4e6c4e48aa2!8m2!3d38.7883645!4d-90.7173995"><i
                                                    class="bi bi-geo-alt-fill"></i></a>
                                            <a class="fs-5 nav-link mx-sm-2 mx-md-2 mx-lg-1 mx-2 social"
                                                href="tel:6362943458"><i class="bi bi-telephone-forward"></i> </a>
                                            <a href="https://www.facebook.com/turtlecreekpub/"
                                                class="nav-link fs-5 mx-sm-2 mx-md-2 mx-lg-1 mx-2 social"><i
                                                    class="bi bi-facebook"></i></a>
                                        </div>
                                    <li
                                        class="nav-item d-flex align-items-center justify-content-center mb-2 mb-sm-2 mb-md-2 mb-lg-0">
                                        <a href="/#orderNow" class="btn btn-secondary text-white">ORDER NOW</a></li>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3 p-0">
            <h2 class="text-danger text-center" style="font-size: 4rem;">Events</h2>
            <div class="d-flex flex-column justify-content-center">
                <div class="happyHour mt-3">
                    <h3 class="fs-3 text-center text-warning">Happy Hours!</h3>
                    <p class="text-center">Tuesday-Sunday 2:00-6:00PM <br> <i class="text-danger">*Except During Live Music!</i></p>
                    <div class="d-flex justify-content-center bg-danger border border-2 border-primary">
                        <div class="container-xxl m-0 p-0">
                            <div class="d-flex justify-content-center p-2 p-sm-2 p-md-2 p-lg-0 m-0 flex-wrap">
                                <img src="/images/santaDrinking.JPG" alt="Santa having a Drink" class="collageImg">
                                <img src="/images/BarandBeer.jpg" alt="Beer at Bar" class="collageImg">
                                <img src="/images/employeesHappy.jpg" alt="Happy Hour Friends" class="collageImg">
                                <img src="/images/christmasSinging.jpg" alt="Live Music Performance" class="collageImg">
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="eventWrapper container-fluid mt-3 border border-5 border-primary">
                    <div class="eventInformation container-xxl">
                        <div class="event mt-3">
                            <h3 class="fs-3 text-center text-danger">KARAOKE NIGHT</h3>
                            <p class="text-center">
                                Enjoy KARAOKE NIGHT by hearing some amazing voices come out from 7:00-11:00pm on TUESDAYS
                            </p>
                        </div>
                        <div class="event mt-3">
                            <h3 class="fs-3 text-center text-danger">XTREME BINGO</h3>
                            <p class="text-center">
                                Have fun with our XTREME BINGO nights starting at 7:00pm on WEDNESDAYS. Have the chance to win amazing prizes including a JACKPOT Game which is never less than $3000
                                <br> <i class="text-danger">* MUST BE 21 Years of Age to Play!</i>
                            </p>
                        </div>
                        <div class="event mt-3">
                            <h3 class="fs-3 text-center text-danger">STEAK NIGHT</h3>
                            <p class="text-center">
                                Don't forget to step in on THURSDAYS after 4:00pm for our STEAK SPECIAL. We'll cook it the way you want!
                            </p>
                        </div>
                        <div class="event mt-3">
                            <h3 class="fs-3 text-center text-danger">LIVE MUSIC</h3>
                            <p class="text-center">
                                Come by FRIDAY and SATURDAY nights to hear the best offered live music in St.Charles County.
                            </p>
                        </div>
                        <div class="event mt-3">
                            <h3 class="fs-3 text-center text-danger">SPORTS</h3>
                            <p class="text-center">
                                We love sports. Come and join us while we watch <i class="fw-bold" style="color: rgb(255, 0, 0);">CARDINALS</i>, <i class="fw-bold" style="color: rgb(4, 0, 255);">BLUES</i>, and <i class="fw-bold" style="color: rgb(124, 117, 12);">MIZZOU</i>
                                <br> Turtle CREEK is recognized as an OFFICAL <i class="fw-bold text-danger">GREEN BAY PACKER</i> VENUE!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="calendar container-xxl mt-5">
                    <h3 class="text-danger fs-2 text-center">Calender</h3>
                    <p class="text-center fs-5">To see any other special events going on checkout our <a href="https://www.facebook.com/turtlecreekpub/" class="sectionLink">FaceBook</a> or look below at our Calendar. Join Our Google Calendar to get notified when an Event is coming up!</p>
                    <div class="calendarContainer d-flex justify-content-center">
                        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%230B8043&ctz=America%2FChicago&showTitle=0&showNav=1&showPrint=0&showCalendars=0&showTz=0&showTabs=0&showDate=0&src=amRvZzAxMjk5OUBnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=MDg5cW1yc2NsNGlmb2VkZzdiYWhjZHV1bjJhanA5bXNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&src=M3ZyYmg0NjFxZ2V2aThtYTNxOW01dG1zcGpxY2I3cXJAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4&color=%23F6BF26&color=%23009688&color=%234285F4&color=%23AD1457" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <%- include footer.ejs %>
        <script src="bootstrap.min.js"></script>
    </body>
</html>