<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/customStyles.css">
    <link rel="stylesheet" href="/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
<link rel="manifest" href="/images/icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!---Navigation Bar-->
    <div class="container-fluid border-bottom border-5 border-secondary" id="navBarContainer">
      <div class="row">
        <div class="col-12 col-lg-12 p-0 d-flex justify-content-center"><a href="/"><img src="/images/mainLogo.png" class="img-fluid" alt="TurtleCreekLogo"></a></div>
      </div>
      <div class="row">
        <div class="col-12 p-0 d-flex align-items-end">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-fill pb-0">
            <div class="container-fluid">
              <button class="navbar-toggler mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item"><a href="/menu" class="nav-link">Menu</a></li>
                  <li class="nav-item"><a href="/catering" class="nav-link">Catering</a></li>
                  <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
                  <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                  <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                </ul>
                <ul class="navbar-nav ms-auto ">
                  <li class="py-1">
                    <div class="socialMedia text-white d-flex flex-row justify-content-center">
                      <a class="fs-5 nav-link mx-sm-2 mx-md-2 mx-lg-1 mx-2 social" href="https://www.google.co.in/maps/place/128+Triad+Center+W,+O'Fallon,+MO+63366/@38.7883645,-90.7195882,17z/data=!3m1!4b1!4m5!3m4!1s0x87ded059b7ce53ab:0x9f9ce4e6c4e48aa2!8m2!3d38.7883645!4d-90.7173995"><i
                          class="bi bi-geo-alt-fill"></i></a>
                      <a class="fs-5 nav-link mx-sm-2 mx-md-2 mx-lg-1 mx-2 social" href="tel:6362943458"><i
                          class="bi bi-telephone-forward"></i> </a>
                      <a href="https://www.facebook.com/turtlecreekpub/" class="nav-link fs-5 mx-sm-2 mx-md-2 mx-lg-1 mx-2 social"><i class="bi bi-facebook"></i></a>
                    </div>
                    <li class="nav-item d-flex align-items-center justify-content-center mb-2 mb-sm-2 mb-md-2 mb-lg-0">
                      <a href="/#orderNow" class="btn btn-secondary text-white">ORDER NOW</a></li>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!---Body of the Main Page-->
    <!---Opening Section-->
    <section class="Establishment mt-5 d-flex flex-column align-items-center container-xxl">
      <div class="row py-3 ps-lg-5">
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center align-items-center">
          <h1 class="text-danger text-center">Established In 2014!</h1>
          <p class="p-3">Turtle Creek Pub & Grill has become that destination where people know that good food is being served and they'll have a good time regardless of what's on the schedule with some of The Best live music you'll hear anywhere every  Friday & Saturday night! <br><br>
            <i class="text-danger">*** Due to COVID-19, some music schedules have changed. PLEASE visit our facebook page for the most current events! ***</i>
            <br><br>Our large Open Air Patio is the perfect place to soak up some Sun or enjoy an evening with friends under the stars while toasting with your favorite beverage!</p>
        </div>
        <div class="col-12 col-lg-6">
          <div class="container w-75 h-75 p-0">
             <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/OwnersParade.JPG" class="d-block w-100" alt="St.Pats Parade">
                <div class="carousel-caption d-none d-md-block">
                  <h5>St.Pats Parade</h5>
                  <p>Amazing Time at St.Pats parade next to our float!</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/GoldenDog.jpg" class="d-block w-100" alt="Packers Golden Dog">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Packer's Golden Dog</h5>
                  <p>Looks it's ready to watch the game!</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/christmasSinging.jpg" class="d-block w-100" alt="Live Music Performance">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Live Music Performance</h5>
                  <p>Nothing is better while eating food like having some live music to sing along with!</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!---Opening Section End-->
    <!---Location Start-->
    <section class="bg-warning container-fluid p-3 mt-3">
      <h2 class="text-white text-center mt-3 fs-1">Location and Hours</h2>
      <div class="container-xxl">
        <div class="row mt-5">
          <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <div class="location">
              <p class="text-white text-center fs-5 px-5">We are Located Right off Mexico and Brian Road in O'Fallon Missouri Near Fort Zummalt West Highschool <br><br> 128 Triad Center W, O'Fallon, MO 63366</b></p>
            </div>
            <div class="hours fs-5 text-white p-0 mt-4">
              <ul class="list-unstyled">
                <li>Sunday: 11AM-12AM</li>
                <li>Monday: <i class="fw-bold">CLOSED</i></li>
                <li>Tuesday: 11AM-1:30AM</li>
                <li>Wednesday: 11AM-1:30AM</li>
                <li>Thursday: 11AM-1:30AM</li>
                <li>Friday: 11AM-1:30AM</li>
                <li>Saturday: 11AM-1:30AM</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="d-flex justify-content-center justify-content-lg-start">
              <iframe class="customFrame customHolder" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.9223736684985!2d-90.71970538424463!3d38.78841387958743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ded058357fbbe7%3A0xfa2d3f65627a065c!2sTurtle%20Creek%20Pub%20And%20Grill!5e0!3m2!1sen!2sus!4v1640318609651!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div> 
        </div>
      </div>
    </section>
    <!---Location End-->
    <!--Order Now-->
    <section class="container-fluid mt-3 p-3" id="orderNow">
      <h2 class="fs-1 text-center text-danger">Order Online Now!</h2>
      <div class="sectionContent my-3">
        <p class="text-danger text-center fw-bold">Grab Food at The Restraunt using ChowNow or Get it Delivered With GrubHub!</p>
        <div class="cardGroup mw-75 row">
          <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-end my-2">
            <a href="https://www.grubhub.com/restaurant/turtle-creek-pub--grill-128-triad-ctr-w-o-fallon/384725" class="btn btn-danger" style="width: 10rem;">GrubHub</a>
          </div>
          <div class="col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start my-2">
            <a href="https://eat.chownow.com/order/19271/locations/27658" class="btn btn-danger" style="width: 10rem;">ChowNow</a>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid mt-3 p-5 bg-primary">
      <h2 class="fs-1 text-center text-white">Check out our Events!</h2>
      <p class="text-white p-3 text-center fs-4">We at turtle creek take pride in our events that we consistantly do throughout the week. <br> Please check out the <a href="/events" class="sectionLink">Events</a> page and subscribe to our calendar!</p>
    </section>
    <%- include footer.ejs %>
  </body>
  <script src="bootstrap.min.js"></script>
</html>
